div {
    background-color: aqua;
    width: 100px;
    height: 300px;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    align-items: center;
    color: azure;
    margin: 0 auto;

}
div {
    transform-origin: top left;
    transform: rotateX(70deg);
}

/* div {
       transform: rotate(0.25 turn);
}*/

/* div {
    transform: rotate3d(5, 1, 0, 45deg);

    /* scale */
    /* div {
        tranform: scale ( .5, 1.5);
        */

    




        div::after{
            content: "Dltafrica";
            background-color: brown;
            align-content: center;
            font-size: 1.5rem;
            position: absolute;
            top: 0%;
            left: 50%;
            translate: -50%;
            
            div {
                transform-origin:top-left ;
                transform:reative(70deg);
                font-size: 20px;
                top: 35rem;
                left: 3rem;
            }
            /*SKEW*/

            div {
                transform: skewX( 50deg);
            }



        }










/* TRANSITION */
,trans {
    height: 100px;
    width: 100px;
    background-color: brown;
    margin: 100px auto;
    transition: widt0.5s ease-in-out
    transition-timing-function: 0.2s ease-in-out;

}
.trans:hover {
    width: 250px;
}
>trans {
    transform: scale(1);
    margin: 100px;
    background-color: chocolate;
    transition: tranform 0.5s ease-in-out;
    transition-duration: 0.5s;
    transition-delay: 1s;

}
.trans:hover {
    transform: scale(2.2);
    background-color: red;
}

